# Cloned from https://github.com/balazsorban44/nextjs-13-next-auth-app

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=a23085f21fbf823e18ffd0f3ed80c593 # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_ISSUER=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=8c7f8f6acc47f1597756
GITHUB_SECRET=8add5d33b430c42fbfd843b4e9e4e4e9c2e867e4

GOOGLE_ID=
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true
