# Cloned from https://github.com/balazsorban44/nextjs-13-next-auth-app

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM='NextAuth <noreply@example.com>'

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=